@inherits PasswordChangeBase

<EditForm Model="ResetPassword" OnValidSubmit="HandleResetPassword">
    <DataAnnotationsValidator />

    <InputText type="hidden" @bind-Value="ResetPassword.Id" />

    <div class="form-group row">
        <div class="col-sm-10">
            <MInputText @bind-Value="ResetPassword.Password" For="@(() => ResetPassword.Password)" Label="Password" Id="Password" Type="password"></MInputText>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <MInputText @bind-Value="ResetPassword.PasswordConfirm" For="@(() => ResetPassword.PasswordConfirm)" Label="Password Confirm" Id="ConfirmPassword" Type="password"></MInputText>
        </div>
    </div>

    <div class="form-group row mt-5">
        <div class="col-sm-5">
            <button type="submit" class="btn btn-block btn-sm btn-comp"> @Localizer["Reset"] </button>
        </div>
        <div class="col-sm-1 pt-1 text-center">
            @if (ResetBusy)
            {<MiniLoading size="25px" />}
        </div>
    </div>
</EditForm>

<ServerValidation @ref="Validation" />
