

<div class="check-mark mt-2 mb-2 ml-2 mr-2">
    @if (Checked)
    {
        <i class="check-mark-icon fa fa-check"></i>
    }
    else
    {
        <i class="check-mark-icon fa fa-times"></i>
    }
</div>