
@if (Show)
{
    <div class="modal fade d-block show" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLbl" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title" id="ConfirmModalLbl"> @Localizer[Title] </h5>
                </div>
                <div class="modal-body">
                    @Localizer[Text]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-comp-s" data-dismiss="modal" @onclick="() => OnConfirmation(false)"> @Localizer[CancelTxt] </button>
                    <button type="button" class="btn btn-sm btn-comp" @onclick="() => OnConfirmation(true)"> @Localizer[ConfirmTxt] </button>
                </div>
            </div>
        </div>
    </div>
}
