
<section class="tabs-section">
    <div class="row">
        <div class="col-sm-@ListSize col-lg-@(ListSize - 2)">
            <ul class="nav nav-tabs flex-column mb-3" role="tablist">
                @TabList
            </ul>
        </div>
        <div class="col-sm-@ConSize col-lg-@(ConSize + 2)">
            <div class="tab-content">
                @TabContent
            </div>
        </div>
    </div>
</section>
