
<div class="row mt-1 mb-1">
    <div class="col-md-@NameSize detail-key">
        @Localizer[Name]
    </div>
    <div class="col-md-@ValSize detail-val">
        @if (Value != null)
        {
            @Localizer[Value]
        }
    </div>
</div>
