@using OA.WASM.Pages.Administration.Users 
@page "/forceChangePassword"

<div class="container">
    <div class="row mt-lg-5"> 
        <div class="col-md-12 text-center font-weight-bold"> 
            @Cause
        </div> 
    </div>
    <div class="row mt-5">        
        <div class="col-md-12">
            <Btn ClassList="btn-block btn-sm" Text="You Have To Reset Your Password To Continue" data-toggle="modal" data-target="#ResetPasswordModal" />
        </div>
    </div>
</div>

<ModalContainer Id="ResetPasswordModal" Size="lg" Title="Reset Password">
    @if (UserId != "")
    {
        <PasswordChange UserId="@UserId" PasswordChangedEvent="PasswordChanged"> </PasswordChange>
    }
</ModalContainer>
